In [9]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\Llast3_det.csv")

In [2]:
df.head(2)

,FILM TITLE,MOVIE_NAME,URL_FILM,REVIEWS,SYNOPSIS,YEAR,CAST,DURATION_MIN,GENRES,COUNTRIES,PRODUCERS,RATING_SUR_5
0,Carry-On,carry-on,https://letterboxd.com/film/carry-on/,Aucune critique disponible,A cul-de-sac in an oppressive suburb becomes a...,1998.0,"Julia Stiles, William R. Moses, Patrick Muldoo...",88.0,Thriller,NaN,Frank Beddor; Greg Steinberg,2.64
1,Nosferatu,nosferatu,https://letterboxd.com/film/nosferatu/,I only watched this to understand the Spongebo...,Years after witnessing the death of the revere...,2024.0,"Paul Mescal, Denzel Washington, Pedro Pascal, ...",148.0,Drama; Action; Adventure,NaN,Michael A. Pruss; Winston Azzopardi; David Fra...,3.37

In [3]:
# Mettre tous les noms de colonnes en majuscule
df.columns = df.columns.str.upper()

In [4]:
import numpy as np

df = df.replace(np.nan, None)   
print(df.isnull().sum())

FILM TITLE         0
MOVIE_NAME         0
URL_FILM           0
REVIEWS            0
SYNOPSIS         824
YEAR             819
CAST              49
DURATION_MIN     327
GENRES            52
COUNTRIES       3141
PRODUCERS        896
RATING_SUR_5     153
dtype: int64

In [5]:
missing_reviews = df[df["REVIEWS"].isnull()]
print(f"Nombre de lignes avec des valeurs manquantes dans 'REVIEWS': {len(missing_reviews)}")

Nombre de lignes avec des valeurs manquantes dans 'REVIEWS': 0

In [109]:
df = df.dropna(subset=["REVIEWS"])
df.to_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\last_Target.csv", index=False)

In [6]:
df["missing_count"] = df.isnull().sum(axis=1)
rows_with_many_na = df[df['missing_count'] > 4]

In [8]:
rows_with_many_na.to_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\problem.csv", index=False)

In [85]:
df_cleaned = df[df['missing_count'] <= 4]

In [86]:
df_sol=pd.read_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\SOL.csv")

In [44]:
import pandas as pd
df1 = pd.read_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\Llast3_det.csv")
df2 = pd.read_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\problem_solve.csv")

In [45]:
df_combined = pd.concat([df1, df2], ignore_index=True)

In [46]:
df_combined.to_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\last_Target.csv", index=False)

In [47]:
df=pd.read_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\last_Target.csv")

In [48]:
colonnes_a_supprimer = ["FILM TITLE", "URL_FILM","COUNTRIES"]
df = df.drop(columns=colonnes_a_supprimer)

In [49]:
df.to_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\last_Target.csv", index=False)

In [36]:
# Assurez-vous que la colonne est convertie en chaînes de caractères
df["DURATION"] = df["DURATION"].astype(str)

# Vérifiez les valeurs non valides et affichez un aperçu si nécessaire
print(df["DURATION"].unique())

# Appliquez la transformation
df["DURATION_MIN"] = (
    df["DURATION"]
    .str.extract(r"(\d+)", expand=False)  # Extraire les nombres
    .apply(lambda x: int(x) if pd.notna(x) else None)  # Convertir en entier ou remplir avec None
)

# Transformation de RATING en float sur une échelle de 5
df["RATING_SUR_5"] = (
    df["RATING"]
    .str.extract(r"(\d+(\.\d+)?)", expand=False)[0]  # Extraire les nombres décimaux
    .apply(lambda x: float(x) if pd.notna(x) else None)  # Convertir ou remplir avec None
)

# Suppression des colonnes originales elles ne sont plus nécessaires
df = df.drop(columns=["DURATION", "RATING"])

['nan']

In [57]:
df=pd.read_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\last_Target.csv")

In [58]:
df

,MOVIE_NAME,REVIEWS,SYNOPSIS,YEAR,CAST,DURATION_MIN,GENRES,PRODUCERS,RATING_SUR_5,missing_count,DURATION,RATING
0,carry-on,Aucune critique disponible,A cul-de-sac in an oppressive suburb becomes a...,1998.0,"Julia Stiles, William R. Moses, Patrick Muldoo...",88.0,Thriller,Frank Beddor; Greg Steinberg,2.64,NaN,NaN,NaN
1,nosferatu,I only watched this to understand the Spongebo...,Years after witnessing the death of the revere...,2024.0,"Paul Mescal, Denzel Washington, Pedro Pascal, ...",148.0,Drama; Action; Adventure,Michael A. Pruss; Winston Azzopardi; David Fra...,3.37,NaN,NaN,NaN
2,home-alone,Young Patrick Bateman**do you think the wet ba...,After receiving an unexpected call from her wa...,2024.0,"Auliʻi Cravalho, Dwayne Johnson, Hualālai Chun...",100.0,Comedy; Animation; Adventure; Family,Christina Chen; Yvett Merino Flores,2.87,NaN,NaN,NaN
3,the-holdovers,There's a handshake in this that feels more ov...,A fading celebrity decides to use a black mark...,2024.0,"Demi Moore, Margaret Qualley, Dennis Quaid, Ed...",141.0,Horror; Science Fiction,Coralie Fargeat; Eric Fellner; Tim Bevan,3.85,NaN,NaN,NaN
4,anora,A terrifying tale of dating a mama’s boy**Sean...,After discovering their significant others are...,2024.0,"Lindsay Lohan, Ian Harding, Kristin Chenoweth,...",99.0,Drama; Romance; Comedy,Mike Elliott; Lisa Gooding,2.36,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3223,lightyear,NaN,NaN,NaN,NaN,Inconnue,NaN,NaN,Indisponible,9.0,NaN,NaN
3224,come-together,NaN,NaN,NaN,"Paul Ansdell, Ali Bastian, Clare Bullus, Alexa...",Inconnue,NaN,NaN,Indisponible,8.0,NaN,NaN
3225,50-50,all seth rogen knows is to be homoerotic with ...,NaN,NaN,"Joseph Gordon-Levitt, Seth Rogen, Anna Kendric...",Inconnue,Comedy; Drama,Evan Goldberg; Seth Rogen; Nicole Brown; Ben K...,Indisponible,9.0,NaN,3.60 out of 5
3226,villains,"I just made up a little game we can all play, ...",NaN,NaN,NaN,NaN,Thriller; Drama; Crime,NaN,Indisponible,8.0,NaN,NaN
3227,skincare,She will kill for beautiful skin.**Love a fun ...,NaN,NaN,"Kristin Slaysman, Echo Campbell, Nicholas Oter...",5 minutes,NaN,NaN,Indisponible,7.0,NaN,NaN

In [61]:
print(df.isnull().sum())

MOVIE_NAME          0
REVIEWS            18
SYNOPSIS          911
YEAR              906
CAST               70
DURATION_MIN      434
GENRES             77
PRODUCERS         961
RATING_SUR_5      260
missing_count    3141
dtype: int64

In [59]:
df["DURATION_MIN"] = df.apply(
    lambda row: row["DURATION_MIN"] if pd.notna(row["DURATION_MIN"]) 
    else row["DURATION"], axis=1
)

# Nettoyer la colonne finale (extraire les nombres et convertir en entier)
df["DURATION_MIN"] = (
    df["DURATION_MIN"]
    .apply(lambda x: str(x) if pd.notna(x) else None)  # Convertir en chaîne si nécessaire
    .str.extract(r"(\d+)", expand=False)  # Extraire les nombres
    .apply(lambda x: int(x) if pd.notna(x) else None)  # Convertir en entier
)

# Supprimer la colonne originale DURATION si elle n'est plus nécessaire
df = df.drop(columns=["DURATION"])

In [60]:
# Fusionner les colonnes RATING et RATING_SUR_5
df["RATING_SUR_5"] = df.apply(
    lambda row: row["RATING_SUR_5"] if pd.notna(row["RATING_SUR_5"]) 
    else row["RATING"], axis=1
)

# Nettoyer la colonne finale (convertir les notes sur une échelle de 5)
df["RATING_SUR_5"] = (
    df["RATING_SUR_5"]
    .apply(lambda x: str(x) if pd.notna(x) else None)  # Convertir en chaîne si nécessaire
    .str.extract(r"(\d+(\.\d+)?)", expand=False)[0]  # Extraire les nombres décimaux
    .apply(lambda x: float(x) if pd.notna(x) else None)  # Convertir en float
    .apply(lambda x: x / 2 if x and x > 5 else x)  # Normaliser sur 5 si nécessaire
)

# Supprimer la colonne originale RATING si elle n'est plus nécessaire
df = df.drop(columns=["RATING"])

In [62]:
df.to_csv(r"C:\Users\Aycha\Desktop\M2_BDIA\NLP\Projet_movie\final\last_Target.csv")